@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s ease;
}

body {
  width: 100%;
  background-color: #ffffff;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgb(43, 143, 168);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 6px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;

}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0f0f0f;
  transition: 0.3s ease;

}

#navbar li a:hover {
  color: cornflowerblue;

}

#navbar li a:hover,
#navbar li a.active {
  color: aquamarine;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: aquamarine;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}


#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;


}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #e99078;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding: 7px;
  color: black;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding: 7px;
  color: rgb(37, 84, 142);
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: gold;
}


#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #c9f0ed;
  font-weight: 500;
  color: #1d1e1e;
  position: absolute;
  bottom: 20px;
  right: 10px;

}

#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h4 span {
  color: rgb(31, 240, 16);
  font-size: 30px;

}




#newsl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 30%;
  background-color: #041e42;

}

#newsl h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsl p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

#newsl p span {
  font-size: 16px;
  font-weight: 500;
  color: #edf11d;
}

#newsl input {
  height: 3.125rem;
  padding: 0 0.125em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

#newsl button {
  background-color: #85ba35;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsl .form {
  display: flex;
  width: 40%;

}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

}

footer .logo {
  margin: 30px;
  background-color: #2cb8c5;
  border-radius: 50px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
}

footer a:hover,
footer .follow i:hover {
  color: #088178;

}

footer .follow {
  margin-top: 20px;

}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid black;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#paging {
  text-align: center;

}

#paging a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
}

#paging a:hover {
  background-color: #85ba35;
}

#paging a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
  border: #000000;
  border-radius: 6px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: flex;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 6px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  width: 100px;
  height: 50px;
  background-color: #088178;
  border-radius: 6px;
  color: white;
  align-items: center;
}

#prodetails .single-pro-details button:hover {
  background-color: #2cb8c5;
}

#prodetails .single-pro-details span {
  line-height: 20px;
}



@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #fefefe;
    box-shadow: 0 40px 60px rgba(21, 20, 20, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar.active {
    right: 0px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000000;
    font-size: 24px
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #000000;
    font-size: 24px;
    padding-left: 20px;
  }

  #cart {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: no-start;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #featue .pro-container {
    justify-content: center;
  }

  #newsl{
    padding: 40px 20px;
  }

  #newsl .form{
    width: 100%;
  }
 
  
  #footer .copyright{
   text-align: start;
  }
  #product1 .pro {
    margin: 15px;
  }

  #prodetails {
    display: flex;
    flex-direction: column;
}

#prodetails .single-pro-image {
  width: 100%;
  margin-right: 0px;
  border: #000000;
  border-radius: 6px;
}

#prodetails .single-pro-details {
  width: 100%;
}
  
}