@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}
button.white{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s ease;
}
body {
  width: 100%;
  background-color: #ffffff;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: rgb(43, 143, 168);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 6px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0f0f0f;
  transition: 0.3s ease;

}
#navbar li a:hover{
  color: cornflowerblue;

}
#navbar li a:hover,
#navbar li a.active{
  color: aquamarine;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: aquamarine;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile
{
  display: none;
  align-items: center;
}

#close {
  display: none;
}
#hero{
  background-image:url("img/banner/b20.jpg") ;
  height: 90vh;
  width: 100%;
  background-size:cover ;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
}

#hero h4{
  padding-bottom: 15px;

}
#hero h1{
  color: rgb(37, 180, 172);
}

#hero button{
  background-image: url("img/button.png");
  background-color:transparent ;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;

}

#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
 
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;

}
#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4 ;

}

#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#feature .fe-box:nth-child(2) h6 {
  background-color: #df85b2 ;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #e99078 ;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #89b8e8 ;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #8cc5b8 ;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #cfee94 ;
}

#product1 {
  text-align: center;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow:20px 20px 30px rgba(0, 0, 0, 0.06) ;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;
  

}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #e99078;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding: 7px;
  color: black;
  font-size: 14px;
}
#product1 .pro .des h4{
  padding: 7px;
  color: rgb(37, 84, 142);
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: gold;
}


#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #c9f0ed;
  font-weight: 500;
  color: #1d1e1e;
  position: absolute;
  bottom: 20px;
  right: 10px;

}

#product1 .pro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
#banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}

#banner h4{
  color: white;
  font-size: 16px;
}
#banner h2{
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span{
  color: rgb(31, 240, 16);
  font-size: 60px;
  
}
#banner button:hover{
  background-color: #088178;
  color: #fff;
}

#sm-banner{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("img/banner/b16.jpg");
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px ;
  border-radius: 6px;
}
#sm-banner .b2{
  background-image: url("img/banner/b18.jpg");
}

#sm-banner .banner-box:hover button{
  background-color: #088178;
  color: #fff;

}
#sm-banner h4{
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: white;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner  span{
  color: #090909;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  
}

#banner3{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("img/banner/b17.jpg");
  width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px ;
  margin-bottom: 20px;
  border-radius: 6px;
}
#banner3 .banner-box:hover{
  box-shadow:20px 20px 30px rgba(125, 190, 215, 0.3) ;
}
#banner3 .b2{
  background-image: url("img/banner/b4.jpg");
}
#banner3 .b3{
  background-image: url("img/banner/b10.jpg");
}

#banner3 h2{
  color: white;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: rgb(232, 19, 19);
  font-weight: 800;
  font-size: 15px;
}

#banner3 h3  span{
  color: #0d66da;
  font-size: 14px;
  font-weight: 1000;
  padding-bottom: 15px;
  
}

#newsl{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 30%;
 background-color: #041e42;

}
#newsl h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsl p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
#newsl p span{
  font-size: 16px;
  font-weight: 500;
  color: #edf11d;
}
#newsl input{
  height: 3.125rem;
  padding: 0 0.125em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}

#newsl button{
  background-color: #85ba35;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsl .form{
  display: flex;
  width: 40%;
  
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

}
footer .logo{
  margin: 30px;
  background-color: #2cb8c5;
  border-radius: 50px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px
}

footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a{
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
}

footer a:hover,
footer .follow i:hover{
  color: #088178;
  
}
footer .follow{
  margin-top: 20px ;

}
footer .follow i{
  color:#465b52 ;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img{
  border: 1px solid black;
  border-radius: 6px;
}

footer .install img{
 margin: 10px 0 15px 0; 
}

footer .copyright{
  width: 100%;
  text-align: center;
}


@media (max-width:799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #fefefe;
    box-shadow: 0 40px 60px rgba(21, 20, 20, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ;
}

#navbar li{
  margin-bottom: 25px;
}

#navbar.active{
  right: 0px;
}

#close {
display: initial;
 position: absolute;
 top: 30px;
 left: 30px;
 color: #000000;
 font-size: 24px
}
#mobile
{
  display: flex;
  align-items: center;
}

#mobile i{
color: #000000;
font-size: 24px;
padding-left: 20px;
}
#cart {
  display: none;
}

#hero{
  height: 70vh;
  padding: 0 80px;
  background-position:top 30%  right 30%;
}
#feature{
  justify-content: no-start;
}
#feature .fe-box{
  margin: 15px 15px;
}
#featue .pro-container{
  justify-content: center;
}
#product1 .pro{
  margin: 15px;
}

#newsl{
  padding: 40px 20px;
}

#newsl .form{
  width: 70%;
}
#hero {
  height: 70vh;
  padding: 0 80px;
  background-position: top 30%  right 30%;
}
#banner {
  
  
  height: 30vh;
  
}
#sm-banner .banner-box {
  
  min-width: 100%;
  height: 30vh;
 
}
#banner3 {
  padding: 0 40px;
}
#banner3 .banner-box{
  width: 28%;
}
}